

.profile {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  padding-left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  background-color: white;
  width: 250px;
  height: 270px;
  border-radius: 10px;
  padding-top: 10px;
  border: 1px solid rgba(40, 45, 46, 0.763);
}
.name {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 16px 0 8px;
}
.tag,
.location {
  color: dimgray;
  text-align: center;
  margin: 10px;
}
.quantity {
  font-weight: 700;
  font-size: 15px;
}
.avatar {
  width: 90px;
  height: 90px;
  background-color: rgb(33, 39, 39);
  border-radius: 50%;
  display: block;
  margin: auto;
}
.label {
  color: rgb(14, 13, 13);
  font-size: 15px;
  margin-bottom: 5px;
}
.stats {
  display: flex;
  background-color: rgba(165, 168, 168, 0.763);
  padding-left: 0px;
  margin: 0;
  border-top: 1px solid rgba(111, 116, 117, 0.763);
  width: 250px;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.item:not(:last-child) {
  border-right: 1px solid rgba(111, 116, 117, 0.763);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
