.Table {
  color: black;
  width: 500px;
  border-collapse: collapse;
  border: 1px solid grey;
  text-align: center;
  margin: auto auto;
 margin-bottom: 25px;
}

.Th {
  border: 1px solid grey;
  background-color: #17213a;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0 5px 0;
}

.Td 
 { border: 1px solid grey;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0 5px 0;
}

 .Tr:nth-of-type(even) {
    background-color: rgba(200, 211, 214, 0.763);
  }
